html {
  font-size: 1.1em;
  line-height: 1.44em;
  //text-align: center;
  p {
    margin-bottom: .4em;
  }
}

.page {
  max-width: 900px;
  //background-color: #555;
  height: 100vh;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  font-weight: 300;

  .person {
    text-align: center;
  }
  b {
    font-weight: 400;
  }
  h2, h3 {
    font-weight: 200;
  }

  .signs {
    .name {
      font-size: 1.4em;
      font-weight: 200;
    }
    .job {
      font-size: .8em;
       font-weight: 500;
    }
  }

  .line {
    border-top: 1px dotted silver;
    width: 53%;
    margin-top: 14px;
    margin-left: 10px;
  }
}

button.dark {
  position: absolute;
  right: 0;
}
html.dark {
  background-color: #333;
  color: #ccc;
  button {
    background-color: #333;
    color: #ccc;
  }
}
html {
  background-color: #ccc;
  color: #222;
  button {
    background-color: #ccc;
    color: #222;
  }
}
